#header {
    background-color: blue;
    color: white;
    position: relative;
}

#header h1 {
    text-align: center;
    font-size: xx-large;
}

#search-city {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#search-btn {
    width: 30%;
}

/* UV coloring scheme for UV display */
.uv-favorable{
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uv-moderate{
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uv-severe{
    background-color: red;
    border-radius: 5px;
    color: white;
}
